<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue circle game</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>Vue circle game</h1>

    <div id="instructions">
      1. add or remove circles 2. start 3. click circles on same color
    </div>

    <div id="app">
      <div id="toolbar">
        <button @click="onStart">Start</button>
        <button @click="onAdd">+</button>
        <button @click="onRemoveLast">-</button>
        <input type="range" v-model="speed" min="0" max="800" />
      </div>
      <div id="circles">
        <div
          v-for="(circle, index) in circles"
          class="circle"
          :style="getCircleStyle(index)"
          @click="onCircleStop(index)"
        ></div>
      </div>
      <transition name="fade">
        <div id="winnerText" v-if="winner" :class="{ fast: speed > 120 }">
          You won!
        </div>
      </transition>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          winner: false,
          colors: ['205', '42', '0', '123'],
          circles: [
            {
              color: 0,
              stopped: true
            },
            {
              color: 3,
              stopped: true
            }
          ],
          speed: 100,
          intervalID: null
        },
        watch: {
          speed(newValue, oldValue) {
            if (this.intervalID) {
              // if started restart to reapply speed
              this.onStart();
            }
          }
        },
        methods: {
          onAdd() {
            this.circles.push({
              color: getRandomIntBetween(0, this.colors.length - 1),
              stopped: true
            });
          },
          onRemoveLast() {
            this.circles.pop();
          },
          onStart() {
            this.winner = false;
            for (let i = 0; i < this.circles.length; i++) {
              this.circles[i].stopped = false;
            }
            clearInterval(this.intervalID);
            this.intervalID = setInterval(() => {
              for (let i = 0; i < this.circles.length; i++) {
                if (!this.circles[i].stopped) {
                  this.circles[i].color = getRandomIntBetweenDifferentFrom(
                    0,
                    this.colors.length - 1,
                    this.circles[i].color
                  );
                }
              }
            }, 1000 - this.speed);
          },
          onCircleStop(index) {
            this.circles[index].stopped = true;
            if (
              this.circles.every(circle => circle.stopped) &&
              this.circles.length > 1
            ) {
              this.winner = this.circles.every(
                circles => circles.color == this.circles[0].color
              );
            }
          },
          getCircleStyle(index) {
            const currentColor = this.colors[this.circles[index].color];
            return {
              backgroundColor: hslColor(currentColor, 80, 50),
              boxShadow:
                '0 -2px 0 3px ' +
                hslColor(currentColor, 80, 40) +
                'inset, 0 20px rgba(255,255,255,0.25) inset,' +
                '0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)'
            };
          }
        }
      });

      // utility functions

      function getRandomIntBetweenDifferentFrom(min, max, differentFrom) {
        let match = false;
        let randomInt;
        while (!match) {
          randomInt = getRandomIntBetween(min, max);
          if (randomInt !== differentFrom) {
            match = true;
          }
        }
        return randomInt;
      }

      function getRandomIntBetween(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
      }

      function hslColor(hue, saturation, lightness) {
        return 'hsl(' + hue + ',' + saturation + '%,' + lightness + '%)';
      }
    </script>
  </body>
</html>
