body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  text-align: left;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
}

#instructions {
  font-size: 12pt;
  text-align: center;
}

#winnerText {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#circles {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.circle {
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: background-color 200ms linear;
}

.fast {
  background-color: red;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 540px) {
  #circles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
