<template>
  <q-page>

    <q-toolbar class="text-white shadow-2">
      <q-toggle
        v-model="showDone"
        color="green"
        icon="done"
      />
      <q-space />
      <q-btn
        :flat="mapView"
        round
        dense
        color="primary"
        icon="view_list"
        @click="mapView = false"
      />
      <q-btn
        :flat="!mapView"
        round
        dense
        color="primary"
        icon="map"
        @click="mapView = true"
      />
    </q-toolbar>

    <todo-map
      v-if="mapView"
      :todos="todosWithPosition"
      @map-click="onMapClick($event.x, $event.y)"
    />

    <todo-list
      v-if="!mapView"
      :todos="filteredTodos"
      @todo-delete="onTodoDelete"
    />

    <q-page-sticky
      v-if="!mapView"
      position="bottom-right"
      :offset="[20, 20]"
    >
      <q-btn
        fab
        icon="add"
        color="accent"
        @click="onAddClick"
      />
    </q-page-sticky>

    <q-dialog v-model="addDialog">
      <q-card style="min-width: 300px">
        <q-card-section>
          <div class="text-h6">New Todo</div>
        </q-card-section>

        <q-card-section>
          <q-input
            ref="textField"
            v-model="newTodo.text"
            label="What do you need to do?"
            :rules="[val => val && val.length > 0 || 'Todo text is required']"
            autofocus
            clearable
            dense
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            flat
            label="Cancel"
            v-close-popup
          />
          <q-btn
            flat
            label="Add Todo"
            @click="onAddDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<style scoped>
</style>

<script>

import TodoList from 'components/TodoList'
import TodoMap from 'components/TodoMap'

export default {
  name: 'Todos',
  components: {
    TodoList, TodoMap
  },
  data () {
    return {
      todos: [
        {
          id: 0,
          text: 'this is a todo',
          done: false
        },
        {
          id: 1,
          text: 'and this is another todo',
          done: true
        }
      ],
      showDone: true,
      addDialog: false,
      mapView: false,
      maxId: 1,
      newTodo: { text: 'new todo' }
    }
  },
  computed: {
    todosWithPosition () {
      return this.filteredTodos.filter(todo => todo.x)
    },
    filteredTodos () {
      return this.todos.filter(todo => this.showDone || !todo.done)
    }
  },
  methods: {
    onMapClick (x, y) {
      this.newTodo.x = x
      this.newTodo.y = y
      this.addDialog = true
    },
    onAddClick () {
      this.newTodo.x = undefined
      this.newTodo.y = undefined
      this.addDialog = true
    },
    onAddDialogClick () {
      this.addDialog = false
      this.maxId = this.maxId + 1 // temporary solution
      const newTodo = { id: this.maxId, text: this.newTodo.text, x: this.newTodo.x, y: this.newTodo.y, done: false }
      this.todos.push(newTodo)
    },
    onTodoDelete (todo) {
      this.todos.splice(this.todos.indexOf(todo), 1)
    }
  }
}
</script>
