<template>
  <q-page>

    <q-toolbar class="text-white shadow-2">
      <q-toggle
        v-model="showDone"
        color="green"
        icon="done"
      />
      <q-space />
      <q-btn
        :flat="mapView"
        round
        dense
        color="primary"
        icon="view_list"
        @click="mapView = false"
      />
      <q-btn
        :flat="!mapView"
        round
        dense
        color="primary"
        icon="map"
        @click="mapView = true"
      />
    </q-toolbar>

    <div
      v-if="mapView"
      class="mapContainer"
    >
      <img
        src="statics/map-image.png"
        @click="onMapClick"
      />
      <div
        v-for="todo in todosWithPosition"
        :key="todo.id"
        class="mapMarker"
        :style="getMarkerPosition(todo)"
      >
        <img
          src="statics/map-marker.png"
          :alt="todo.text"
          :title="todo.text"
        />
        <q-avatar
          :icon="todo.done ? 'done' : ''"
          :color="todo.done ? 'green' : 'blue'"
          text-color="white"
          @click="todo.done = !todo.done"
          size="18px"
          style="position: absolute; top: 6px; left: 6px"
        />
      </div>
    </div>

    <q-list
      v-if="!mapView"
      separator
      bordered
    >
      <q-item
        v-for="todo in filteredTodos"
        :key=todo.id
      >
        <q-item-section avatar>
          <q-checkbox
            color="green"
            v-model="todo.done"
          />
        </q-item-section>

        <q-item-section>
          <q-input
            v-model="todo.text"
            bg-color="white"
            dense
            standout="bg-primary text-white"
          />
        </q-item-section>

        <q-item-section side>
          <q-btn
            round
            dense
            flat
            icon="delete"
            color="negative"
            size="14px"
            @click="onDeleteTodo(todo)"
          />
        </q-item-section>
      </q-item>
    </q-list>

    <q-page-sticky
      v-if="!mapView"
      position="bottom-right"
      :offset="[20, 20]"
    >
      <q-btn
        fab
        icon="add"
        color="accent"
        @click="onAddClick"
      />
    </q-page-sticky>

    <q-dialog v-model="addDialog">
      <q-card style="min-width: 300px">
        <q-card-section>
          <div class="text-h6">New Todo</div>
        </q-card-section>

        <q-card-section>
          <q-input
            ref="textField"
            v-model="newTodo.text"
            label="What do you need to do?"
            :rules="[val => val && val.length > 0 || 'Todo text is required']"
            autofocus
            clearable
            dense
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            flat
            label="Cancel"
            v-close-popup
          />
          <q-btn
            flat
            label="Add Todo"
            @click="onAddDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<style scoped>
.mapContainer {
  position: relative; /* to allow absolute postioning of markes on map */
  overflow: auto; /* allows the containing map image to be scrolled inside this div */
}
.mapMarker {
  position: absolute;
}
</style>

<script>

const MARKER_WIDTH = 30
const MARKER_HEIGHT = 49

export default {
  name: 'Todos',
  data () {
    return {
      todos: [
        {
          id: 0,
          text: 'this is a todo',
          done: false
        },
        {
          id: 1,
          text: 'and this is another todo',
          done: true
        }
      ],
      showDone: true,
      addDialog: false,
      mapView: false,
      maxId: 1,
      newTodo: { text: 'new todo' }
    }
  },
  computed: {
    todosWithPosition () {
      return this.filteredTodos.filter(todo => todo.x)
    },
    filteredTodos () {
      return this.todos.filter(todo => this.showDone || !todo.done)
    }
  },
  methods: {
    onMapClick (event) {
      this.newTodo.x = event.offsetX
      this.newTodo.y = event.offsetY
      this.addDialog = true
    },
    onAddClick () {
      this.newTodo.x = undefined
      this.newTodo.y = undefined
      this.addDialog = true
    },
    onAddDialogClick () {
      this.addDialog = false
      this.maxId = this.maxId + 1 // temporary solution
      const newTodo = { id: this.maxId, text: this.newTodo.text, x: this.newTodo.x, y: this.newTodo.y, done: false }
      this.todos.push(newTodo)
    },
    onDeleteTodo (todo) {
      this.todos.splice(this.todos.indexOf(todo), 1)
    },
    getMarkerPosition (todo) {
      return {
        left: todo.x - MARKER_WIDTH / 2 + 'px', top: todo.y - MARKER_HEIGHT + 'px'
      }
    }
  }
}
</script>
