<template>
    <div class="HelloWorld">
        <div class=' col-lg-6 col-md-4 col-sm-4 container justify-content-center'>
            <div class="col" v-bind:class="classi">
                <h1>{{msg}}</h1>
                <label>Your name: </label>
                <input type="text" v-model="user" @input="classi = $event.target.value"/>
                <lable v-if="user === ''"
                       v-bind:title="'text text text text text text text \t text \n text text text text text text text'"
                       style="color:red"> *
                </lable>
                <h3 v-bind:title="'GS'">Hey {{user}}</h3>
                <br/>
                <button @click="onAdd">Click</button>
                <button @click="reset">Reset</button>
                <br> <br>
                <div v-if="counter > 3 && counter <6 ">
                    you clicked between 3 and 6 times
                </div>
                <div v-bind:title="'You clicked ' + counter + ' times'">
                    You clicked {{counter}} times
                </div>

               <ul>
                    <li  v-bind:key="msg" v-for="msg in msgs">
                        {{msg.e}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        name: 'HelloWorld',
        props: {
            msg: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                counter: 0,
                msgs: [],
                user: '',
                classi: ''
            }
        },
        computed(){ return{
            userUpper() {
                return this.user.toUpperCase();
            }}
        },
        methods: {
            onAdd() {
                this.counter++;
                this.msgs.push({e: ((this.user) ? this.user + " " : 'You ') + " clicked at " + new Date()})
            },
            reset() {
                //als user leg is kan je niet reseten een sort van validation
                //als user leg is kan je niet reseten een sort van validation
                if (this.user === "") {
                    alert("user is leg")
                } else {
                    this.counter = 0;
                    this.msgs = []
                    this.user = ''
                }
            }
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
    .HelloWorld{
        background-color: wheat;
        height: auto;
        width: 690px;

    }
</style>
