<template>
    <q-list
      separator
      bordered
    >
      <q-item
        v-for="todo in todos"
        :key=todo.id
      >
        <q-item-section avatar>
          <q-checkbox
            color="green"
            v-model="todo.done"
          />
        </q-item-section>

        <q-item-section>
          <q-input
            v-model="todo.text"
            bg-color="white"
            dense
            standout="bg-primary text-white"
          />
        </q-item-section>

        <q-item-section side>
          <q-btn
            round
            dense
            flat
            icon="delete"
            color="negative"
            size="14px"
            @click="$emit('todo-delete', todo)"
          />
        </q-item-section>
      </q-item>
    </q-list>
</template>

<style scoped>
</style>

<script>

export default {
  name: 'Todos',
  props: {
    todos: {
      type: Array,
      required: true
    }
  }
}
</script>
