<template>
  <div class="mapContainer">
    <img
      src="statics/map-image.png"
      @click="onMapClick"
    />
    <div
      v-for="todo in todos"
      :key="todo.id"
      class="mapMarker"
      :style="getMarkerPosition(todo)"
    >
      <img
        src="statics/map-marker.png"
        :alt="todo.text"
        :title="todo.text"
      />
      <q-avatar
        :icon="todo.done ? 'done' : ''"
        :color="todo.done ? 'green' : 'blue'"
        text-color="white"
        @click="todo.done = !todo.done"
        size="18px"
        style="position: absolute; top: 6px; left: 6px"
      />
    </div>
  </div>
</template>

<style scoped>
.mapContainer {
  margin-top: 5px;
  position: relative; /* to allow absolute postioning of markers on map */
  overflow: auto;
  height: 100%; /* fill the parent */
}
.mapMarker {
  position: absolute;
}
</style>

<script>

const MARKER_WIDTH = 30
const MARKER_HEIGHT = 49

export default {
  name: 'Todos',
  props: {
    todos: {
      type: Array,
      required: true
    }
  },
  methods: {
    onMapClick (event) {
      this.$emit('map-click', { x: event.offsetX, y: event.offsetY })
    },
    getMarkerPosition (todo) {
      return {
        left: todo.x - MARKER_WIDTH / 2 + 'px', top: todo.y - MARKER_HEIGHT + 'px'
      }
    }
  }
}
</script>
