<template>
  <div class="circle" :style="styleObject" @click="$emit('circle-click') "></div>
</template>

<script>
export default {
  name: 'ColorCircle',
  props: {
    colors: {
      type: Array,
      required: true
    },
    currentColor: {
      type: Number,
      required: true
    }
  },
  computed: {
    styleObject() {
      return {
        backgroundColor: hslColor(this.colors[this.currentColor], 80, 50),
        boxShadow:
          '0 -2px 0 3px ' +
          hslColor(this.colors[this.currentColor], 80, 40) +
          'inset, 0 20px rgba(255,255,255,0.25) inset,' +
          '0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)'
      };
    }
  }
};

function hslColor(hue, saturation, lightness) {
  return 'hsl(' + hue + ',' + saturation + '%,' + lightness + '%)';
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.circle {
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: background-color 200ms linear;
}
</style>
