<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Vue hello world</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class=' col-lg-6 col-md-4 col-sm-4 container justify-content-center' id="app">
    <div class="col" v-bind:class="classi">
        <h1>Vue Basics</h1>

        <label>Your name: </label>
        <input type="text" v-model="user" @input="classi = $event.target.value"/>
        <lable v-if="user === ''" v-bind:title="'text text text text text text text \t text \n text text text text text text text'" style="color:red" >*</lable>

        <h3 v-bind:title="'GS'">Welcome {{userUpper}}</h3>
        <button @click="onAdd">Click</button>
        <button @click="reset">Reset</button>
        <br> <br>
        <div v-if="counter > 3 && counter <6 ">
            you clicked between 3 and 6 times
        </div>
        <div v-bind:title="'You clicked ' + counter + ' times'">
            You clicked {{counter}} times
        </div>

        <ul>
            <li v-for="msg in msgs">
                {{msg.e}}
            </li>
        </ul>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            counter: 0,
            msgs: [],
            user: '',
            classi: ''
        },
        methods: {
            onAdd() {
                this.counter++;
                this.msgs.push({e: ((this.user) ? this.user + " " : 'You ') + " clicked at " + new Date()})
            },
            reset() {
                //als user leg is kan je niet reseten een sort van validation
                if (this.user === "") {
                    alert("user is leg")
                }else{
                    this.counter = 0;
                    this.msgs = []
                    this.user = ''
                }
            }
        },
        computed: {
            userUpper() {
                return this.user.toUpperCase();
            }
        }
    });
</script>
</body>
</html>
