body {
    font-family: Arial, Helvetica, sans-serif;
}
button
{
    background-color: #F0D264;
    box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(196, 172, 83, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);


    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 2px 6px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
button:active {
    box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}
button:hover {background-color: #F0D264;}