<template>
     <q-dialog :value="showDialog">
      <q-card style="min-width: 300px">
        <q-card-section>
          <div class="text-h6">Add Todo</div>
        </q-card-section>

        <q-card-section>
          <q-input
            ref="textField"
            v-model="fieldData.text"
            label="What do you need to do?"
            :rules="[val => val && val.length > 0 || 'Todo text is required']"
            autofocus
            clearable
            dense
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            flat
            label="Cancel"
            @click="$emit('add-cancel')"
          />
          <q-btn
            flat
            label="Add Todo"
            @click="$emit('add-confirm')"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>

<style scoped>
</style>

<script>

export default {
  name: 'AddTodoDialog',
  props: {
    fieldData: {
      type: Object,
      required: true
    },
    showDialog: {
      type: Boolean,
      required: true,
      default: false
    }
  }
}
</script>
