<template>
  <q-list
    separator
    bordered
  >
    <q-item
      v-for="todo in todos"
      :key=todo.id
    >
      <q-item-section avatar>
        <q-checkbox
          color="green"
          v-model="todo.done"
          @input="todoUpdated(todo)"
        />
      </q-item-section>

      <q-item-section>
        <q-input
          v-model="todo.text"
          @blur="todoUpdated(todo)"
          bg-color="white"
          dense
          standout="bg-primary text-white"
        />
      </q-item-section>

      <q-item-section side>
        <q-btn
          round
          dense
          flat
          icon="description"
          color="positive"
          size="14px"
          @click="$emit('todo-select', todo)"
        />
      </q-item-section>

      <q-item-section side>
        <q-btn
          round
          dense
          flat
          icon="delete"
          color="negative"
          size="14px"
          @click="$emit('todo-delete', todo)"
        />
      </q-item-section>
    </q-item>
  </q-list>
</template>

<style scoped>
</style>

<script>

export default {
  name: 'TodoList',
  props: {
    todos: {
      type: Array,
      required: true
    }
  },
  methods: {
    todoUpdated (todo) {
      this.$emit('todo-updated', todo)
    }
  }
}
</script>
