<template>
  <div id="app">
    <h1>Vue circle game</h1>

    <div id="instructions">1. add or remove circles 2. start 3. click circles on same color</div>

    <div id="toolbar">
      <button @click="onStart">Start</button>
      <button @click="onAdd">+</button>
      <button @click="onRemoveLast">-</button>
      <input type="range" v-model="speed" min="0" max="800" />
    </div>
    <div id="circles">
      <color-circle
        v-for="(circle, index) in circles"
        :key="index"
        :colors="colors"
        :current-color="circle.color"
        @circle-click="onCircleStop(index)"
      ></color-circle>
    </div>
    <div id="winnerText" v-if="winner">You won!</div>
  </div>
</template>

<script>
import ColorCircle from './components/ColorCircle.vue';

export default {
  name: 'app',
  components: {
    ColorCircle
  },
  data() {
    return {
      winner: false,
      colors: ['205', '42', '0', '123'],
      circles: [
        {
          color: 0,
          stopped: true
        },
        {
          color: 1,
          stopped: true
        }
      ],
      speed: 100,
      intervalID: null
    };
  },
  watch: {
    speed() {
      if (this.intervalID) {
        // if started restart to reapply speed
        this.onStart();
      }
    }
  },
  methods: {
    onAdd() {
      this.circles.push({
        color: getRandomIntBetween(0, this.colors.length - 1),
        stopped: true
      });
    },
    onRemoveLast() {
      this.circles.pop();
    },
    onStart() {
      this.winner = false;
      for (let i = 0; i < this.circles.length; i++) {
        this.circles[i].stopped = false;
      }
      clearInterval(this.intervalID);
      this.intervalID = setInterval(() => {
        for (let i = 0; i < this.circles.length; i++) {
          if (!this.circles[i].stopped) {
            this.circles[i].color = getRandomIntBetweenDifferentFrom(
              0,
              this.colors.length - 1,
              this.circles[i].color
            );
          }
        }
      }, 1000 - this.speed);
    },
    onCircleStop(index) {
      alert('gg!');
      this.circles[index].stopped = true;
      if (
        this.circles.every(circle => circle.stopped) &&
        this.circles.length > 1
      ) {
        this.winner = this.circles.every(
          circles => circles.color == this.circles[0].color
        );
      }
    }
  }
};

// utility functions

function getRandomIntBetweenDifferentFrom(min, max, differentFrom) {
  var match = false;
  var randomInt;
  while (!match) {
    randomInt = getRandomIntBetween(min, max);
    if (randomInt !== differentFrom) {
      match = true;
    }
  }
  return randomInt;
}

function getRandomIntBetween(min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min);
}
</script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
}

#instructions {
  font-size: 12pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#winnerText {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#circles {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 540px) {
  #circles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
}
</style>
