<template>

  <div  id="app">
    <HelloWorld class="hallo" msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'


export default {
  name: 'app',
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
  .hallo{
    background-color: red;
    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    bottom: 25%;
  }
</style>
