<template>
  <q-page>

    <q-toolbar class="text-white shadow-2">
      <q-toggle
        v-model="showDone"
        color="green"
        icon="done"
      />
      <q-space />
      <q-btn
        :flat="mapView"
        round
        dense
        color="primary"
        icon="view_list"
        @click="mapView = false"
      />
      <q-btn
        :flat="!mapView"
        round
        dense
        color="primary"
        icon="map"
        @click="mapView = true"
      />
    </q-toolbar>

    <todo-map
      v-if="mapView"
      :todos="todosWithPosition"
      @map-click="onMapClick"
      @todo-updated="onTodoUpdated"
    />

    <todo-list
      v-if="!mapView"
      :todos="filteredTodos"
      @todo-delete="onTodoDelete"
      @todo-select="onTodoSelect"
      @todo-updated="onTodoUpdated"
    />

    <q-page-sticky
      v-if="!mapView"
      position="bottom-right"
      :offset="[20, 20]"
    >
      <q-btn
        fab
        icon="add"
        color="accent"
        @click="onAddStickyClick"
      />
    </q-page-sticky>

    <add-todo-dialog
      :fieldData="addDialogData"
      :show-dialog="showAddDialog"
      @add-confirm="onAddDialogConfirm"
      @add-cancel="onAddDialogCancel"
    />

  </q-page>
</template>

<style scoped>
</style>

<script>

import TodoList from 'components/TodoList'
import TodoMap from 'components/TodoMap'
import AddTodoDialog from 'components/AddTodoDialog'
import TodoService from '../services/TodoService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'Todos',
  components: {
    TodoList, TodoMap, AddTodoDialog
  },
  data () {
    return {
      todos: [], // to be kept in sync with back-end
      showDone: true,
      mapView: false,
      showAddDialog: false,
      addDialogData: { text: 'new todo' }
    }
  },
  created () {
    this.todoService = new TodoService()
    this.loadTodos()
  },
  computed: {
    todosWithPosition () {
      return this.filteredTodos.filter(todo => todo.x)
    },
    filteredTodos () {
      return this.todos.filter(todo => this.showDone || !todo.done)
    }
  },
  methods: {
    onTodoSelect (todo) {
      this.$router.push({ name: 'todoDetail', params: { id: todo.id } })
    },
    onMapClick (position) {
      this.addDialogData.x = position.x
      this.addDialogData.y = position.y
      this.showAddDialog = true
    },
    onAddStickyClick () {
      this.showAddDialog = true
    },
    onAddDialogCancel () {
      this.showAddDialog = false
    },
    async onAddDialogConfirm () {
      this.showAddDialog = false
      const newTodo = { ...this.addDialogData, done: false, description: '' }
      try {
        const savedTodo = await this.todoService.add(newTodo)
        this.todos.push(savedTodo)
      } catch {
        ErrorService.showAlert('Adding todo failed')
      }
    },
    async onTodoUpdated (todo) {
      try {
        await this.todoService.update(todo)
      } catch {
        // this is not an optimal solution since the user has already updated the todo...
        ErrorService.showAlert('Updating todo on server failed, your data is not in sync')
      }
    },
    async onTodoDelete (todo) {
      try {
        await this.todoService.delete(todo)
        this.todos.splice(this.todos.indexOf(todo), 1)
      } catch {
        ErrorService.showAlert('Delete todo failed')
      }
    },
    async loadTodos () {
      try {
        this.todos = await this.todoService.get()
      } catch (error) {
        ErrorService.showAlert('Loading todos failed')
      }
    }
  }
}
</script>
