<template>
  <q-page>
    <q-card
      v-if="todo"
      id="about-card"
      class="text-white"
      style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
    >

      <q-card-section>
        <div class="text-h6">{{todo.text}}</div>
      </q-card-section>

      <q-card-section>
        <q-editor
          class="text-black"
          v-model="todo.description"
          @input="onTodoUpdated"
        />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<style scoped>
#about-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
</style>

<script>

import TodoService from '../services/TodoService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'TodoDetail',
  props: ['id'],
  data () {
    return {
      todo: null
    }
  },
  created () {
    this.todoService = new TodoService()
    this.loadTodo(this.id)
  },
  computed: {
  },
  watch: {
    id (newValue) {
      this.loadTodo(newValue)
    }
  },
  methods: {
    async loadTodo (id) {
      try {
        this.todo = await this.todoService.getById(id)
      } catch (error) {
        ErrorService.showAlert('Loading todo failed')
      }
    },
    async onTodoUpdated () {
      try {
        await this.todoService.update(this.todo)
      } catch {
        // this is not an optimal solution since the user has already updated the todo...
        ErrorService.showAlert('Updating todo on server failed, your data is not in sync')
      }
    }
  }
}
</script>
